<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>微信硬件行业解决方案</title>
<link rel="stylesheet" type="text/css" href="../css/entrance.css">
</head>
<body ontouchstart="" youdao="bind">
	<div class="head">
		<img src="../images/entrance/AccessHardware_WhiteIcon@2x.png"
			height="56px">
		<h1>微信硬件行业解决方案</h1>
		<p>微信硬件平台是微信继连接人与人，连接企业/服务与人之后，推出连接物与人，物与物的IOT解决方案</p>
	</div>
	<div class="body">
		<div class="list">
			<a href="air_conditioner.html"><i class="icon air_conditioner"></i>
			<p>智能空调</p></a> <a href="toy.html"><i class="icon toy"></i>
			<p>智能玩具</p></a> <a href="router.html"><i class="icon router"></i>
			<p>智能路由</p></a> <a href="home_furnish.html"><i class="icon home"></i>
			<p>智能家居</p></a> <a href="tv.html"><i class="icon tv"></i>
			<p>智能电视</p></a> <a href="smart_charge.html"><i class="icon recharge"></i>
			<p>智能充值</p></a> <a href="health.html"><i class="icon health"></i>
			<p>智能健康</p></a> <a href="wearing.html"><i class="icon wearing"></i>
			<p>智能穿戴</p></a> <a href="car_lock.html"><i class="icon lock"></i>
			<p>智能车位锁</p></a> <a href="voice_box.html"><i class="icon voice_box"></i>
			<p>智能音箱</p></a>
		</div>
	</div>
	<div class="foot"></div>

	<script type="text/javascript">
		document.write('<script type="text/javascript" src="../js/share.js?'
				+ new Date().getTime() + '"><\/script>');
	</script>
	<script type="text/javascript" src="../js/share.js"></script>


</body>
</html>

