html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: inherit;
}
.icon {
  width: 60px;
  height: 60px;
  display: inline-block;
}
.icon.air_conditioner {
  background: transparent url("entrance_z@2x.png") no-repeat 0px 0px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.health {
  background: transparent url("entrance_z@2x.png") no-repeat -60px 0px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.voice_box {
  background: transparent url("entrance_z@2x.png") no-repeat 0px -60px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.wearing {
  background: transparent url("entrance_z@2x.png") no-repeat -60px -60px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.home {
  background: transparent url("entrance_z@2x.png") no-repeat -120px 0px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.lock {
  background: transparent url("entrance_z@2x.png") no-repeat -120px -60px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.recharge {
  background: transparent url("entrance_z@2x.png") no-repeat 0px -120px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.router {
  background: transparent url("entrance_z@2x.png") no-repeat -60px -120px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.toy {
  background: transparent url("entrance_z@2x.png") no-repeat -120px -120px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.icon.tv {
  background: transparent url("entrance_z@2x.png") no-repeat -180px 0px;
-webkit-background-size: 240px 180px;
background-size: 240px 180px;
}
.list {
  overflow: hidden;
  text-align: center;
}
.list a {
  position: relative;
  padding: 20px 0;
  float: left;
  width: 33.333%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.list a:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #EAEAEA;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.list a:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.list a:active {
  background-color: #F0F0F0;
}
.head {
  padding: 45px 25px 20px 25px;
  color: #FFFFFF;
  text-align: center;
  background: #34B366 url(../images/entrance/Bg2x.png);
  background-size: cover;
}
.head h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: normal;
}
@media only screen and (max-width: 320px) {
  .head {
    padding-top: 35px;
    padding-bottom: 10px;
  }
}
